@font-face {
    font-family: 'asapb';
    src: url('AsapCondensed-Bold.woff2') format('woff2'),
        url('AsapCondensed-Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'asap';
    src: url('AsapCondensed-Regular.woff2') format('woff2'),
        url('AsapCondensed-Regular.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: fallback;
}

