// header css file
header{
    background: transparent;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;
    .container-fluid{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }
    .logo{
        // width: 200px;
        text-transform: uppercase;
        font-size: 24px;
        a{
            color: @text-black;
        }
    }
    .menu{
        height: 100%;
        display: flex;
        align-items: center;
        .mid();
        &__item{
            height: 100%;
            margin: 0 20px;
            height: 100%;
            a{
                display: flex;
                align-items: center;
                height: 100%;
                position: relative;
                .hover-button-3(@cl-main, 2px);
                .text(24px, asap, 24px, @text-black, uppercase);
                &::before{
                    bottom: 24px;
                }
            }
        }
    }
    .btn-menu{
        display: none;
        width: 40px;
        position: relative;
        height: 26px;
        margin-left: 20px;
        cursor: pointer;
        span{
            height: 2px;
            width: 100%;
            position: absolute;
           .mid-y();
            background: @cl-main;
            transition: @t @cubic;
        }
        &::before, &::after{
            content: '';
            height: 2px;
            width: 100%;
            background: @cl-main;
            display: block;
            transition: @t @cubic;
            transform: translate(0,0) rotate(0);
            transform-origin: center left;
        }
        &::after{
            bottom: 0;
            position: absolute;
        }
        &.clicked{
            span{
                opacity: 0;
                visibility: hidden;
                transition: @t @cubic;
                background: @text-black;
            }
            &::before{
                transform: translate(3px,-3px) rotate(45deg);
                transform-origin: center left;
                transition: @t @cubic;
                background: @text-black;
            }
            &::after{
                transform: translate(2px, 1px) rotate(-45deg);
                transform-origin: center left;
                transition: @t @cubic;
                background: @text-black;
            }
        }
    }
}

//responsive

.mobile({
    header{
        .menu{
            position: fixed;
            top: 0;
            left: initial;
            right: -100%;
            height: 100vh;
            width: 100vw;
            z-index: 301;
            transform: initial;
            background: @cl-main;
            flex-direction: column;
            justify-content: center;
            transition: @t @cubic;
            &.active{
                right: 0;
                transition: @t @cubic;
            }
            &__item{
                margin-top: 20px;
                height: initial;
            }
        }
        .btn-menu{
            display: block;
            z-index: 302;
        }
    }
});
